* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container-about {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
}

.container-img {
  display: flex;
  justify-content: center;  
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.my-photo {
  border: 3px solid rgba(0, 0, 0, 0.7);  
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.footer-about {  
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;  
}

.title-tecnologias {    
  text-align: center;
  border-bottom:3px solid rgba(0, 0, 0, 0.7);
  color: black;
}

.title-about {    
  text-align: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
  color: black;
}

.text-about {
  margin: 0.5em;
  color: black;
}

.my-email {
  font-weight: 600;
  color:black;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.tools {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.img-tools {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}