* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container-about {
  display: flex;
  flex-flow: column wrap;
  background-color: lightblue;
}

.container-img {
  display: flex;
  justify-content: center;  
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.my-photo {
  border: 2px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.footer-about {  
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;  
}

.title-tecnologias {    
  text-align: center;
  border-bottom: 2px solid black;
}

.title-about {    
  text-align: center;
  border-bottom: 2px solid black;
}

.text-about {
  margin: 0.5em;
  
}

.my-email {
  font-weight: 600;
}

.tools {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.img-tools {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}