* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container-main-imgs {
  display: flex;
  flex-flow: row wrap;     
  background: white;
}

.container-imgs {
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;   
  justify-content: space-evenly;
  gap: 35px;
}

.redirect {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.btn-code {
  border: none;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0.5em;
  cursor: pointer;
  font-weight: 700;
  padding: 2px;
  width: 150px;
}

.title-project{
  color: black;
  font-weight: 700;
  border-bottom: 3px solid lime;
  margin-bottom: 0.3em;
  font-size: 22px;
}

.see-code { 
  text-decoration: none;  
  padding: 5px;
  border-radius: 5px;
  color: lime;
  font-weight: 600;
  margin-top: 0.2em;
  background: black;
}

@media (max-width: 900px) {
  .container-imgs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .redirect {
  
  }
}