* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container-main {
  display: flex;
  flex-flow: column wrap;  
}

.navegator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-image: linear-gradient(darkblue, darkcyan);
}

.navegator-title {
  width: 33.3%;
}

.navegator-logo {
  width: 33.3%;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px double white;
}

.title-portifolio {
  color: aliceblue; 
}

.container-links {
  display: flex;
  gap: 15px;   
}

.link {
  text-decoration: none;
  color: white;
  border: 3px double white;
  padding: 0.2em;
  font-weight: 600;
  cursor: pointer;
}

.image-main {
  height: 100vh;
  width: 100%;
}

