* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#projects:target {
  color: black; 
  
}

#main:target {
  color: black; 
}

#tools:target {
  color: black; 
}

#about:target {
  color: black; 
}

details > summary {
  font-weight: bolder;
  color: white;
}

details > p {
  color: white;
}

@media (max-width: 750px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  
  .nav-bar {
    width: 100%;
    height: 10vh;    
  }

  .navegator {   
    position: relative;
    display: flex;      
    width: 100%;
  } 

  .mobile-none, .none-mobile  {
    display: none;
  }

  .mobile-nav {
    display: flex;       
    justify-content: center;
    margin-bottom: 0.3em;
    flex-flow: row wrap;    
  }

  .mobile-about {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ul-mobile {
    padding: 0.3em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
  }

  .tools-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-flow: row wrap;
  }

  .mobile-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-welcome {
    width: 100%;
    padding: 1em;   
  }

  .mobile-contact {    
    display: flex;    
  }

  
}





